{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact_a_Doctor</title>
    <script src="https://kit.fontawesome.com/803794f851.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'home/contact_a_Doctor.css' %}">

    <style>
        #navbar {
            display: flex;
            align-items: center;
        }
        #navbar li {
            margin-right: 20px;
            list-style-type: none;
        }
        .avatar-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        .avatar-link img {
            margin-right: 5px;
            border-radius: 50%;
            width: 30px; /* Adjust as needed */
            height: 30px; /* Adjust as needed */
        }
        #navbar li a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section id="header">
        <a href="#"><img src="{% static 'home/Image/MediWell_Contact.jpg' %}" class="logo" alt=""></a>
        <ul id="navbar">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'home:features' %}">Features</a></li>
            <li><a class="active" href="{% url 'home:contact' %}">Contact a Doctor</a></li>
            <li><a href="{% url 'home:search' %}">Search</a></li>
            <li><a href="{% url 'home:about' %}">About Us</a></li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'profile' %}">
                    <img class="user-avatar" src="{% static 'home/Image/avatar-icon.png' %}" alt="User Avatar">
                </a>
            </li>
           {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
           {% endif %}
        </ul>
    </section>

    <section id="Doctors">
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search by tags">
            <button onclick="search()">Search</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>All Doctors</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Tags</th>
                    <th>Specialist</th>
                </tr>
            </thead>
            <tbody id="doctor-list">
                <!-- Doctors' information will be dynamically added here -->
            </tbody>
        </table>
    </section>

    <script src="{% static 'home/contact_a_Doctor.js' %}"></script>

    <section id="last_line" class="section-p2">
        <a href="#"><img src="{% static 'home/Image/MediWell_Contact.jpg' %}" alt=""></a>
        <div class="about-us">
            <button onclick="#">About Us</button>
        </div>
        <div class="Blog">
            <button onclick="#">Blog</button>
        </div>
        <div class="Creators">
            <button onclick="#">Creators</button>
        </div>
        <div class="Help Center">
            <button onclick="#">Help Center</button>
        </div>
        <div class="FAQs">
            <button onclick="#">FAQs</button>
        </div>
        <div class="User Guides">
            <button onclick="#">User Guides</button>
        </div>
        <div class="Academy">
            <button onclick="#">Academy</button>
        </div>
        <div class="chat Support">
            <button onclick="#">chat Support</button>
        </div>
        <div class="info">
            <div class="section-p3">
                <div class="left">
                    <button onclick="#">Cookies Policy</button>
                </div>
                <div class="left">
                    <button onclick="#">Legal Terms</button>
                </div>
                <div class="left">
                    <button onclick="#">Privacy Policy</button>
                </div>
            </div>
            <div class="section-p4">
                <div class="Twitter">
                    <button onclick="#">Twitter</button>
                </div>
                <div class="Facebook">
                    <button onclick="#">Facebook</button>
                </div>
                <div class="Instagram">
                    <button onclick="#">Instagram</button>
                </div>
                <div class="Youtube">
                    <button onclick="#">Youtube</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

